<div class="row">
    <div class="col-md-6">
        <a href="<%= html_url %>">
            <img src="<%= avatar_url %>"  class="img-rounded" />
        </a>
    </div>
    <div class="col-md-6">
        <a href="<%= html_url %>">
            <h1><%= login %></h1>
        </a>
        <h4>aka <%= name %></h4>
        <p><%= location %></p>
    </div>
</div>

<div class="row">
    <div class="panel">
        <h5>Contributions </h5>

        <ul class="list-unstyled list-inline">
            <li>
                <a href="<%= repos_url %>">Repos</a>
                <span class="badge"><%= public_repos %></span>
            </li>
            <li>
                <a href="<%= gists_url %>">Gists</a>
                <span class="badge"><%= public_gists %></span>
            </li>
        </ul>

       <!--  <blockquote>
            <%= bio %>
        </blockquote> -->
    </div>
</div>
